:host {

  flex: 100%;

  display: flex;

  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 25px;
  margin: 10px;
}

.exp-outer-frame {

  flex: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.exp-core {

  flex: 80%;

  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;

}

.exp-controls {

  background-color: rgba(255, 255, 255, 0.322);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  flex: 20%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.exp-controls-input {

  width: 80%;
  margin: 0 auto;

  font-size: xx-large;
  border: 0;
  outline: 0;
  border-radius: 20px;
  padding: 10px;
}

.workshop-panel {

  flex: 70%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.completed-items, .goals-frame, .cur-todos {

  margin: 5px;

  background-color: rgba(0, 0, 0, 0.4);
  
  border-radius: 25px;
  border: 3px solid rgba(0, 0, 0, 0.31);

  color: rgba(255, 255, 255, 0.814);
}

.completed-items {

  flex: 30%;

}

.goals-frame {

  flex: 30%;

}

.cur-todos {

  flex: 70%;


}

.entry-item, .edit-input {

  flex: 0 0 85%;

  font-size: x-large;
  border: 0;
  outline: 0;

  color: rgba(0, 0, 0, 0.878);
}

.li-contxt-wrapper {

  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.844);
  padding: 10px 5px;
  width: 90%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.tog-btn {

  flex: 0 0 10%;

  background-image: url('/assets/flaticon/entry_incomp.png');
  background-repeat: no-repeat;
  background-size: contain;

  margin-left: 5px;
  border: 0;
 
  cursor: pointer;

  background-color: transparent;
}

li {

  margin: 3px 0;
}

ul {

  list-style-type: none;
}

.comp-li-contxt-wrapper {

  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.844);
  padding: 5px 5px;
  width: 90%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.comp-icon {

  flex: 0 0 15%;

  background-image: url("/assets/flaticon/entry_comp.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.comp-btn {

  flex: 0 0 10%;
  margin-left: auto;
  border: 0;
  cursor: pointer;

  background-color: transparent;
}

.comp-txt {

  flex: 0 0 70%;

  color: rgba(0, 0, 0, 0.878);

  font-size: x-large;
}