<div class="exp-outer-frame">

  <div class="exp-core">

    <div class="workshop-panel">

      <div class="goals-frame">
        
        <app-goals></app-goals>
      </div>

      <div class="cur-todos">

        <ul class="cur-todos-list">

          <ng-container *ngFor="let entry of entries">
            
            <ng-container *ngIf="!entry.isComplete()">

              <li>

                <span class="li-contxt-wrapper">
                  <button type="button" class="tog-btn" (click)="toggleEntry(entry)"></button>

                  <ng-container *ngIf="!entry.isOpenForEdit()">
  
                    <span class="entry-item" (click)="requestEdit(entry)">{{ entry.getText() }}</span>
                  </ng-container>
  
                  <ng-container *ngIf="entry.isOpenForEdit()">
  
                    <input spotlight type="text" class="edit-input" [value]="entry.getText()" (keydown.enter)="editEntry(entry, $event)" (blur)="editEntry(entry, $event)">
                  </ng-container>
                </span>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
    
    <div class="completed-items">

      <ul class="completed-list">

        <ng-container *ngFor="let entry of entries">

          <ng-container *ngIf="entry.isComplete()">

            <li>
  
              <span class="comp-li-contxt-wrapper">

                <span class="comp-icon"></span>
  
                <div class="comp-txt">{{ entry.getText() }}</div>
  
                <button class="comp-btn" type="button" (click)="removeEntry(entry)">X</button>
              </span>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="exp-controls">

    <input type="text" [(ngModel)]="inputText" class="exp-controls-input" (keydown.enter)="addEntry()">
  </div>
</div>