:host {

  flex: 100%;

  display: flex;
}

.exp-outer-frame {

  flex: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.exp-core {

  flex: 80%;

  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;

}

.exp-controls {

  background-color: rgba(255, 255, 255, 0.322);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  flex: 20%;
}

.workshop-panel {

  flex: 70%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.completed-items, .goals-frame, .cur-todos {

  margin: 5px;

  background-color: rgba(0, 0, 0, 0.4);
  
  border-radius: 25px;
  border: 3px solid rgba(0, 0, 0, 0.31);

  color: rgba(255, 255, 255, 0.814);
}

.completed-items {

  flex: 30%;

}

.goals-frame {

  flex: 30%;

}

.cur-todos {

  flex: 70%;


}