<!-- <canvas #board class="canvas-board"></canvas>
 -->

<div class="mm-grid">

  <svg:svg class="svg-frame" style="border: 3px solid black">

    <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:5" />

    <ng-container *ngFor="let node of activeNodes">

      <ellipse [attr.cx]="node.getCx()" [attr.cy]="node.getCy()" rx="45" ry="32" style="fill:yellow;stroke:purple;stroke-width:2" />
      
      <text [attr.x]="node.getCx() - 60"[attr.y]="node.getCy() + 10" style="font-size: x-large">
        {{ node.getId() + ": " + node.getTxt() }}
      </text>
    </ng-container>

    <ng-container *ngFor="let link of activeLinks">

      <path [attr.d]="'M' + link.getStStr() + ' C' + link.getStAnStr() + ' ' + link.getEdAnStr() + ' ' + link.getEdStr()" fill="none" stroke="red" stroke-width="5" />
    </ng-container>
    
    <ng-container *ngFor="let blockChain of nodeOrigin">

      <ng-container *ngFor="let block of blockChain">

        <ng-container *ngIf="block.isFree">

          <rect [attr.x]="block.getStart()" [attr.y]="block.blockId * block.dispHeight" [attr.width]="block.getEnd() - block.getStart()" [attr.height]="block.dispHeight" style="fill:rgba(185, 115, 3, 0.648);stroke-width:1;stroke:rgb(0,0,0)" />
        </ng-container>
      </ng-container>
    </ng-container>
  </svg>
</div>