<div #gridBkgd class="grid-bkgd">

  <svg:svg class="svg-frame" (mousedown)="grab($event)" (mousemove)="trace($event)" (mouseup)="drop($event)">

    <ng-container *ngFor="let node of activeNodes">

      <ellipse [attr.nodeId]="node.getId()" [attr.cx]="node.getCx()" [attr.cy]="node.getCy()" [attr.rx]="node.getRadiusX()" [attr.ry]="node.getRadiusY()" [attr.stroke]="node.getSpotlight()" style="fill:white;stroke-width:5" />
      
      <text pointer-events="none" [attr.x]="node.getCx() - 60"[attr.y]="node.getCy() + 10" style="font-size: x-large">
        {{ node.getId() + ": " + node.getTxt() }}
      </text>
    </ng-container>

    <ng-container *ngFor="let link of activeLinks">

      <line (click)="toggleSpotlight(link, highLightColor)" [attr.x1]="link.getSt()[0]" [attr.y1]="link.getSt()[1]" [attr.x2]="link.getEd()[0]" [attr.y2]="link.getEd()[1]" [attr.stroke]="link.getSpotlight()" style="stroke-width:5" />
    </ng-container>
    
    <ng-container *ngFor="let blockChain of nodeOrigin">

      <ng-container *ngFor="let block of blockChain">

        <ng-container *ngIf="block.isFree() && showGrid">

          <rect [attr.x]="block.getStart()" [attr.y]="block.getRowId() * block.getDispHeight()" [attr.width]="block.getEnd() - block.getStart()" [attr.height]="block.getDispHeight()" style="fill:rgba(185, 115, 3, 0.648);stroke-width:1;stroke:rgb(0,0,0)" />
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let point of testPoints">

      <circle [attr.cx]="point[0]" [attr.cy]="point[1]" r="5" />
    </ng-container>
  </svg>
</div>

<!-- controls -->
<app-mm-controls (materialize)="parse($event)"></app-mm-controls>

<app-mm-controls-side (menuEvent)="handleMenuEvent($event)"></app-mm-controls-side>

<app-mm-controls-err-flag [showFlag]="showFlag" (initErrHandlingEvent)="resolveError()"></app-mm-controls-err-flag>