:host {

  flex: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  background-image: url("/assets/main_disp_bkgd.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.disp-container {

  flex: 94%;
  
  display: flex;
}

