<div class="v-note-inner-frame">
  <div class="v-note-body">
    <h2>Version Notes</h2>
    <p>------------------------------------------------------------------------</p>
    <p>Version 0.5 update 1 was the first iteration of this overlay page</p>
    <br>
    <p>------------------------------------------------------------------------</p>
    <p>Current version: 0.6 update 1</p>
    <p>currently porting the renamed "Path Notes" project over to the Angular framework</p>
    <br>
    <p>------------------------------------------------------------------------</p>
  </div>

  <div class="v-note-credits">
    Sourcing material used:
    <ul>

      <li>
        <a href="https://www.flaticon.com/free-icons/connector" title="connector icons">Connector icons created by Freepik - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/journal" title="journal icons">Journal icons created by Freepik - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/list" title="list icons">Todo list icons created by Freepik - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/upgrade" title="upgrade icons">Upgrade icons created by Elastic1 - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/log-out" title="log out icons">Log out icons created by Aldo Cervantes - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/right" title="right icons">Right icons created by kliwir art - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/correct" title="correct icons">Correct icons created by kliwir art - Flaticon</a>
      </li>
      <li>
        demo img for potential journal component features from freepik
      </li>
    </ul>
    
  </div>

  <div class="v-note-footer">
    <p>Path Notes v0.6 U1</p>
    <p>KPL 2022</p>
    <p>kpl2022a@gmail.com</p>
  </div>
</div>

